@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;	
}

body
{	
	min-height: 100vh;
	overflow-x: hidden;
	background: #151515	
}


/* Main Page Header */

header
{	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;	
}


/* Main Page Hero Section */

section
{

    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section::before
{

    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #151515, transparent);
    z-index: 3;

}

section img
{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
	filter: brightness(70%);
    overflow-x: hidden;

}

#heading
{

    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;

}

#heading t
{

    background: linear-gradient(90deg, #6B009B, #B00D64, #6B009B, #B00D64);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 3s linear infinite;
    -moz-animation: animated_text 3s linear infinite;
    -webkit-animation: animated_text 3s linear infinite;

}

@keyframes animated_text {

    0% { background-position: 0px 50%; }
    100% {background-position: 100% 50%; }
    
}

#subhead
{

    position: absolute;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(45vh);

}


.promo
{

    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.promo a img
{

    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

/* Main Page About Me */

.text
{

    position: relative;
    background: #151515;
    z-index: 2;

}

.text h2
{

	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;

}

.text .container
{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
    background-color: #151515;
    z-index: 1;

}

.text p
{

    font-size: 1.2em;
    color: #fff;
    text-align: left;

}

.text .container img
{

    display: flex;
    align-items: center;
    justify-content: center;

}

.text .container img#portrait
{

    position: relative;
    width: 90%;
    height: 90%;
    pointer-events: none;

}


/* Main Page Projects */

.projects
{

    position: relative;
    background: #151515;

}

.projects h2
{

	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    margin-top: 100px;
    color: #fff;

}

.projects p
{

	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;

}

.projects .container
{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 20px 60px;
    background-color: #151515;
    z-index: 1;

}

.projects .container img#wos
{

    position: relative;
    float: right;
    width: 40%;
    height: 40%;
    margin-right: 20px;
    transition: 0.3s;

}

.projects .container img#wos:hover
{

    filter: grayscale(50%);
    border-radius: 10%;

}

.projects .container img#velvet
{

    position: relative;
    float: left;
    width: 40%;
    height: 40%;
    margin-left: 20px;
    transition: 0.3s;

}

.projects .container img#velvet:hover
{

    filter: grayscale(50%);
    border-radius: 10%;

}


.contact
{

    position: relative;
    background: #151515;

}

.contact h2
{

	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    margin-top: 100px;
    color: #fff;

}

.contact .social
{

    text-align: center;
    padding-top: 10px;

}

.contact .social a
{

    color: #fff;
    font-size: 2.5em;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    border-radius: 30%;
    transition: 0.3s;

}

.contact .social a:hover
{

    background: #fff;
    border-radius: 50%;

}

.contact .social a#twitter:hover
{

    color: #1DA1F2;

}

.contact .social a#youtube:hover
{

    color: #FF0000;

}

.contact .social a#twitch:hover
{

    color: #9146FF;

}

.contact .social a#discord:hover
{

    color: #5865F2;

}

.contact .social a#mastodon:hover
{
	
    color: #6364FF;
	
}

.contact .mail
{

    text-align: center;
    padding-top: 10px;

}

.contact .mail p
{

    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    text-align: center;
    padding-bottom: 30px;

}

.contact .mail a
{

    font-weight: bold;
    color: #770849;

}


/* Imprint CSS */

.impressum
{

    margin: 0 40px;
    background-color: #151515;
    z-index: 1;

}

.impressum h1
{

    color: #fff;
    text-align: left;

}

.impressum p
{

    font-size: 1.2em;
    color: #fff;
    text-align: left;

}


/* Global Footer */

.footer
{

    position: relative;
    width: 100%;
    height: 1vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer::before
{

    content: '';
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, #151515, transparent);
    z-index: 3;

}

.footer .social
{

    text-align: center;
    padding-bottom: 25px;

}

.footer .social a
{

    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    border-radius: 30%;
    transition: 0.3s;

}

.footer .social a:hover
{

    background: #fff;
    border-radius: 50%;
    color: #151515;

}

.footer video
{

    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    filter: brightness(50%);

}

.footer .copyright
{

    position: absolute;
    color: #fff;
    white-space: nowrap;
    z-index: 9;
    font-size: 1em;
    text-align: center;


}
