@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;	
}

body
{	
	min-height: 100vh;
	overflow-x: hidden;
	background: #151515	
}


/* Main Page Header */

header
{	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;	
}


/* Main Page Hero Section */

section
{

    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;

}

section::before
{

    content: ' ';
    font-size: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, #151515, transparent);
    z-index: 3;

}

section::after
{

    content: ' ';
    font-size: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #AF2CFF, transparent);
    z-index: 3;
    transform: translateY(-650px);
    filter: opacity(30%);

}

section img
{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
    overflow-x: hidden;

}

#heading
{

    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
    padding-left: 6vw;
    pointer-events: none;

}

#subhead
{

    position: absolute;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding-left: 6vw;
    font-size: 2vw;
    z-index: 9;
    pointer-events: none;
    transform: translateY(60px);

}

#subhead b
{

    background: linear-gradient(90deg, #AF2CFF, #6549FF, #AF2CFF, #6549FF);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 3s linear infinite;
    -moz-animation: animated_text 3s linear infinite;
    -webkit-animation: animated_text 3s linear infinite;

}

@keyframes animated_text {

    0% { background-position: 0px 50%; }
    100% {background-position: 100% 50%; }
    
}


/* Main Page About Me */

.text
{

    position: relative;
    width: 100%;

}

.text p
{

	display: inline-block;
    text-align: left;
    font-size: 1.4em;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 6vw;
    margin-right: 6vw;
    color: #fff;

}

.text a
{

    font-weight: bold;
    color: #AF2CFF;

}


/* Main Page Projects */

.schedule
{

    position: relative;
    background: #151515;

}

.schedule h2
{

	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #fff;

}

.schedule .container
{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;

}

.schedule .container img#wos
{

    position: relative;
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;

}



/* Global Footer */

.footer
{

    position: relative;
    padding: 40px;
    background: #151515;

}

.footer .social
{

    text-align: center;
    padding-bottom: 25px;

}

.footer .social a
{

    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    border-radius: 30%;
    transition: 0.3s;

}

.footer .social a:hover
{

    background: #fff;
    border-radius: 50%;
    color: #151515;

}

.footer .copyright
{

    font-size: 1em;
    color: #fff;
    text-align: center;


}